<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stack</th>
      <th>Status</th>
      <th>Active</th>
      <th colspan="3"></th>
      <th>In progress?</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.stack %></td>
        <td><%= project.status %></td>
        <td>
          <% if project.active == true %>
            Yes
          <% elsif project.active == false %>
            No
          <% end %>
        </td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= project.project_not_in_finished_or_paid_status? ? 'Yes' : 'No' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
